body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: "Segoe UI", sans-serif;
}


.todo-container {
  width: 450px;
  margin: 80px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.todo-container h1 {
  margin-bottom: 25px;
  color: #333;
  font-weight: 600;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}


.input-section input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.input-section input:focus {
  border-color: #667eea;
  box-shadow: 0 0 6px rgba(102, 126, 234, 0.5);
}


.input-section button {
  padding: 12px 18px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

.input-section button:hover {
  background: #5a67d8;
  transform: scale(1.05);
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 12px 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.task-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.task-item span {
  font-size: 15px;
  color: #333;
  text-align: left;
  flex: 1;
}

.btn-group {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background: #f59e0b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.edit-btn:hover {
  background: #d97706;
}

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover {
  background: #dc2626;
}

.task-list:empty::after {
  content: "No tasks yet 😴";
  display: block;
  margin-top: 20px;
  color: #888;
  font-size: 14px;
}